uuid: {{ drupal_site_uuid }}
name: '{{ drupal_site_name}}'
mail: {{ user_1_mail }}
slogan: '{{ drupal_site_slogan }}'
admin_compact_mode: false
weight_select_max: 100
langcode: {{ drupal_site_language }}
default_langcode: {{ drupal_site_language }}
_core:
  default_config_hash: yTxtFqBHnEWxQswuWvkjE8mKw2t8oKuCL1q8KnfHuGE
mail_notification: '{{ user_1_mail }}'
